.bold-title {
    font-weight: bold;
}

.selector-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.sub-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
