<mat-dialog-content>
    <h1>Resumen de la Orden</h1>
    <div class="div-resumen">
        <table style="width: 100%; height: 100%;">
          <tr>
            <td>Cant</td>
            <td>Producto</td>
            <td>$ por unidad</td>
            <td>$total</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Hamburguesa con Fritas</td>
            <td>120</td>
            <td>120</td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </table>
    </div>

    <div class="div-obs">
        <h3>Observaciones</h3>
        <ul>
          <li>Sin pepino</li>
          <li>Sin mayonesa</li>
        </ul>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="buttons">
      <button mat-button >Volver</button>
      <button mat-button class="confirm">Confirmar</button>
    </div>
  </mat-dialog-actions>