<div class="button-container">
    <button class="add-order-button" (click)="openAgregarDialog()">Añadir Orden</button>
    <button mat-icon-button class="history-button"><mat-icon>history</mat-icon></button>
  </div>
  <div class="container">
    <h3>Ordenes:</h3>
    <div class="table-box">
      <div class="content">
        <div class="order-info">
          <h2 class="order-number">Orden 5</h2>
          <h2 class="order-time">12:30 PM</h2>
        </div>
        <div class="table-number">
          <h2>Mesa: 5</h2>
  
          <div class="buttons">
            <button class="button button-2" (click)="openEditarDialog()"><mat-icon>menu</mat-icon></button>
            <button class="button button-3"><mat-icon>done</mat-icon></button>
            <button class="button button-1"><mat-icon>delete</mat-icon></button>
          </div>
        </div>
      </div> 
  
      <div class="content">
        <div class="order-info">
          <h2 class="order-number">Orden 5</h2>
          <h2 class="order-time">12:30 PM</h2>
        </div>
        <div class="table-number">
          <h2>Mesa: 5, 6</h2>
  
          <div class="buttons">
            <button class="button button-2"><mat-icon>menu</mat-icon></button>
            <button class="button button-3"><mat-icon>done</mat-icon></button>
            <button class="button button-1"><mat-icon>delete</mat-icon></button>
          </div>
        </div>
      </div> 
  
    </div>
  </div>