<div class="caja-container" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card class="caja-total">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>CAJA $6969</span>
        <button mat-icon-button style="background-color: #F96464; color: #FFFFFF; margin-left: 10px;">
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-icon-button style="background-color: #4CA78E; color: #FFFFFF; margin-left: 10px;">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-card>
    <span class="caja-total">Mesas: {{libreCount}} / {{totalCount}} Ocupación: {{ ocupacionLocal }}</span>
  </div>