.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .back-button, .actions {
        display: flex;
        align-items: center;
  
        .filter, .search{
          margin-right: 1rem;
        }
      }
    }
  }

  .add-button {
    background-color: #4CAF50 !important;  /* Color verde */
    color: white;  /* Color de texto blanco */
    
    mat-icon {
      margin-right: 0;  /* Elimina el espacio a la derecha del ícono */
    }
  }
  
  mat-paginator {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;  /* Centra verticalmente */
    margin-top: 1rem;  /* Añade un poco de espacio arriba para separarlo de la tabla */
  }
  