<!-- mesa-form.component.html -->
<div class="form-container">
    <div class="form-field">
        <mat-label>Nro Mesa</mat-label>
        <mat-select placeholder="Selecciona uno o más elementos" multiple>
          <mat-option value="item1">Elemento 1</mat-option>
          <mat-option value="item2">Elemento 2</mat-option>
          <mat-option value="item3">Elemento 3</mat-option>
          <!-- Agrega más opciones según sea necesario -->
        </mat-select>
    </div>

    <div class="form-field">
      <mat-label>Cantidad de comensales</mat-label>
      <input matInput placeholder="Cantidad" type="number">
    </div>

    <div class="form-field">
      <mat-label>Cliente preferencial</mat-label>
      <mat-select placeholder="Selecciona un cliente preferencial">
        <mat-option value="item1">Elemento 1</mat-option>
      </mat-select>
    </div>

    <div class="form-field">
      <mat-label>Nombre del Cliente</mat-label>
      <input matInput placeholder="Nombre" type="text">
    </div>

    <div class="button-container">
      <button mat-raised-button color="warn" id="cancelar" (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="primary" id="confirmar">Continuar</button>
    </div>
  </div>