<form [formGroup]="OrdenForm" class="form-container" (ngSubmit)="onSubmit()" >
  <div class="form-field">
    <mat-form-field appearance="fill" class="half-width">
      <mat-label>Nro Mesa</mat-label>
      <mat-select formControlName="nroMesa">
        <!-- Opciones para tu dropdown aquí -->
        <mat-option *ngFor="let mesa of mesas" [value]="mesa.id">
          {{ mesa.nroMesa }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Cantidad de comensales</mat-label>
    <input matInput placeholder="Cantidad" type="number" formControlName="cantComensales">
  </div>

  <div class="form-field">
    <mat-form-field appearance="fill" class="half-width">
      <mat-label>Cliente Preferencial</mat-label>
      <mat-select formControlName="clientePreferencial">
        <!-- Opciones para tu dropdown aquí -->
        <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">
          {{ cliente.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Nombre del Cliente</mat-label>
    <input matInput placeholder="Nombre" type="text">
  </div>

  <div class="button-container">
    <button mat-raised-button color="warn" id="cancelar" (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" id="confirmar">Continuar</button>
  </div>
</form>