.container {
    background-color: #7D9A93;
    height: 100%;
    width: 100%;
    padding: 0;
}

.custom-toolbar {
    background-color: #D1F4EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;

    .logo {
        width: 60px;
        height: auto;
    }
    .back-arrow {
        color: #273B4A; // Cambia esto al color que desees.
       
    }
    .spacer {
        flex: 1; // Esto hace que el espaciador tome todo el espacio disponible, empujando el logo hacia la derecha.
    }

    button[mat-icon-button] {
        margin-right: auto; // Empuja todo lo que está a su derecha, hacia la derecha.
    }
}


.header-panel {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    padding: 15px 0;

    

    .item-image {
        width: 6rem; /* Ajusta según la dimensión deseada */
        height: 5rem;
        margin-right: 1rem;
    }

    .item-details {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .item-text {
            display: flex;
            flex-direction: column; // Esto asegura que el título y la descripción estén uno encima del otro.
    
            .item-title {
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 5px; // Pequeño espacio entre el título y la descripción.
            }
    
            .item-description {
                font-size: 0.9rem;
                color: #7D7D7D;
            }
        }
    
        .item-price-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .item-price {
                margin-right: 10px; // Ajusta este margen si es necesario.
                font-size: 1.5rem;
                font-weight: bold;
            }

            .item-count {
                background-color: #D1F4EB; 
                color: #273B4A;
                border-radius: 50%;
                padding: 5px 10px;
                font-weight: bold;
                z-index: 1;
            }
        }
    }
}

.container-button {
    position: fixed;
    bottom: 0.5rem;  // O el espacio que quieras desde la parte inferior.
    left: 50%; // Esto centrará el botón en horizontal.
    transform: translateX(-50%); // Esto es necesario para que realmente se centre.
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;

    .add-button {
        width: 100%;
        background-color: #2E8B57;
        color: white;
    }
}
