.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  // Divide el contenedor en 4 columnas
    gap: 20px;
    padding: 20px;
  }
  
  .clickable-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    cursor: pointer;
  
    &:hover {
      background-color: rgba(0,0,0,0.05);
    }
  }

  
  mat-card-title {
    font-size: 24px;  // Cambia este valor al tamaño de fuente deseado
  }
  