.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  grid-template-rows: repeat(2, 1fr); /* 2 filas */
  gap: 20px;
  padding: 20px;
}

.clickable-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Altura fija para las tarjetas */
  cursor: pointer;

  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
}

mat-card-title {
  font-size: 24px;
}
