<div class="cards-container">
    <mat-card  class="clickable-card" style="grid-column-start: 2; grid-column-end: 3; background-color: #1B4338; color: #FFFFFF;">
      <mat-card-title>Control de Inventario</mat-card-title>
    </mat-card>
  
    <mat-card  class="clickable-card" style="background-color: #E8FFF9; color: #000000;">
      <mat-card-title>Gestión de Usuarios</mat-card-title>
    </mat-card>
  
    <mat-card  class="clickable-card" style="grid-column-start: 2; grid-column-end: 3; background-color: #1B4338; color: #FFFFFF;">
      <mat-card-title>Estadísticas</mat-card-title>
    </mat-card>
  
    <mat-card class="clickable-card" style="background-color: #E8FFF9; color: #000000;" >
      <mat-card-title>Historial de Ventas</mat-card-title>
    </mat-card>
  </div>
  