<h2 mat-dialog-title>Modificar Ítem</h2>

<mat-dialog-content class="dialog-content">

  <mat-form-field appearance="fill" class="full-width">
    <mat-label><mat-icon>label</mat-icon> Nombre</mat-label>
    <input matInput [(ngModel)]="item.nombre">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label><mat-icon>description</mat-icon> Descripcion</mat-label>
    <input matInput [(ngModel)]="item.descripcion"> <!-- Aquí corregí el ngModel -->
  </mat-form-field>

  <div class="row">
    <mat-form-field appearance="fill" class="half-width">
      <mat-label><mat-icon>category</mat-icon> Categoría</mat-label>
      <mat-select [(ngModel)]="item.categoria">
        <mat-option value="opcion1">Opción 1</mat-option>
        <mat-option value="opcion2">Opción 2</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="half-width">
      <mat-label><mat-icon>storage</mat-icon> CantXCasillero</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="row cost-section">
    <mat-radio-group>
      <mat-radio-button color="primary" value="casillero" class="radio-btn">Casillero</mat-radio-button>
      <mat-radio-button color="primary" value="unidad" class="radio-btn">Unidad</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="fill" class="cost-input">
      <mat-label><mat-icon>attach_money</mat-icon> Costo</mat-label>
      <input matInput [(ngModel)]="item.costo">
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" >Confirmar</button>
</mat-dialog-actions>
