<div style="background-color: #D3D7D1; height: 100%;">
<div class="header" style="background-color: #D3D7D1; padding-top: 0.5rem;">
    <button mat-button class="back-button" style="font-size: 2rem;" (click)="close()">
      <mat-icon>arrow_back</mat-icon> Volver
    </button>
</div>
<div class="orders-flex-container">
    <div class="orders-and-notes-wrapper">
        <div class="orders-wrapper" style="max-width: 76.5rem;">
            <!-- Aquí están tus tarjetas de orden -->
            <mat-card fxFlex="95%" fxFlex.lt-sm="100%" class="mat-card">
                <div class="orders-flex-container" style="background-color: #7d9a93">
                    <mat-card class="order-card">
                        <!-- Estado y Paga -->
                        <mat-card-header class="order-header" style="background-color: #FFD686;">
                            <mat-card-title-group>
                                <mat-card-title>Estado: En cocina</mat-card-title>
                                <mat-card-title>Paga: No</mat-card-title>
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <!-- Información de la orden -->
                        <mat-card-content class="order-info">
                            <mat-card-title>Orden nº 10 23:05</mat-card-title>
                            <p>Mesa 4 - Mozo: Juan</p>
                            <div class="order-items">
                                <p>1 x Salchipapa</p>
                                <p>2 x Aritos de cebolla</p>
                                <!-- Agrega más elementos de la orden aquí -->
                            </div>
                        </mat-card-content>
                        <mat-divider></mat-divider>
                        <mat-card-content class="order-total">
                            <p>Total: $50.00</p> <!-- Puedes vincular esto a una variable si estás usando Angular -->
                          </mat-card-content>
                        
                          <mat-divider></mat-divider>
                        <mat-card-actions class="order-actions">
                            <button mat-raised-button  style="background-color: #57BCDC; text-align: center;"><mat-icon class="big-icon">info</mat-icon></button>
                            <button mat-raised-button style="background-color: #E98383; text-align: center;" ><mat-icon class="big-icon">delete</mat-icon></button>
                        </mat-card-actions>
                    </mat-card>
                </div>
              </mat-card>
        </div>
    </div>
</div>
</div>
