.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ahora divido el contenedor en 3 columnas */
    gap: 20px;
    padding: 20px;
  }
  
  .clickable-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    cursor: pointer;
  
    &:hover {
      background-color: rgba(0,0,0,0.05);
    }
  }
  
  mat-card-title {
    font-size: 24px; /* Tamaño de fuente deseado */
  }
  