<div class="mat-card green-card">
  <div class="container">
    <div fxLayout="row wrap" fxLayout.lt-md="column">
      <mat-card class="custom-card" fxFlex="48%" fxFlex.lt-md="100%">
        <!-- Contenido de la orden 1 -->
        <mat-card-title class="custom-title">Orden nº 1 - 23:05</mat-card-title>
        <p class="custom-info">Mesa 4 - Mozo: Jose</p>
        <hr>
        <div class="item">
          <span>1 x Pizza con Muzza</span>
          <span>1 x Gramajo para 2</span>
        </div>
        <div class="item">
          <span>2 x Papas Fritas Cheddar</span>
          <span>1 x Salchipapa</span>
        </div>
        <hr>
        <p class="custom-info">Observaciones:</p>
        <p class="custom-observation">El gramajo sin morron</p>
        <hr>
        <div class="d-flex justify-content-center mt-3">
          <button mat-raised-button class="mi-boton">Orden Preparada</button>
        </div>
      </mat-card>
      
      <mat-card class="custom-card" fxFlex="48%" fxFlex.lt-md="100%">
        <!-- Contenido de la orden 1 -->
        <mat-card-title class="custom-title">Orden nº 1 - 23:05</mat-card-title>
        <p class="custom-info">Mesa 4 - Mozo: Jose</p>
        <hr>
        <div class="item">
          <span>1 x Pizza con Muzza</span>
          <span>1 x Gramajo para 2</span>
        </div>
        <div class="item">
          <span>2 x Papas Fritas Cheddar</span>
          <span>1 x Salchipapa</span>
        </div>
        <hr>
        <p class="custom-info">Observaciones:</p>
        <p class="custom-observation">El gramajo sin morron</p>
        <hr>
        <div class="d-flex justify-content-center mt-3">
          <button mat-raised-button class="mi-boton">Orden Preparada</button>
        </div>
      </mat-card>
      <mat-card class="custom-card" fxFlex="48%" fxFlex.lt-md="100%">
        <!-- Contenido de la orden 1 -->
        <mat-card-title class="custom-title">Orden nº 1 - 23:05</mat-card-title>
        <p class="custom-info">Mesa 4 - Mozo: Jose</p>
        <hr>
        <div class="item">
          <span>1 x Pizza con Muzza</span>
          <span>1 x Gramajo para 2</span>
        </div>
        <div class="item">
          <span>2 x Papas Fritas Cheddar</span>
          <span>1 x Salchipapa</span>
        </div>
        <hr>
        <p class="custom-info">Observaciones:</p>
        <p class="custom-observation">El gramajo sin morron</p>
        <hr>
        <div class="d-flex justify-content-center mt-3">
          <button mat-raised-button class="mi-boton">Orden Preparada</button>
        </div>
      </mat-card>
      <mat-card class="custom-card" fxFlex="48%" fxFlex.lt-md="100%">
        <!-- Contenido de la orden 1 -->
        <mat-card-title class="custom-title">Orden nº 1 - 23:05</mat-card-title>
        <p class="custom-info">Mesa 4 - Mozo: Jose</p>
        <hr>
        <div class="item">
          <span>1 x Pizza con Muzza</span>
          <span>1 x Gramajo para 2</span>
        </div>
        <div class="item">
          <span>2 x Papas Fritas Cheddar</span>
          <span>1 x Salchipapa</span>
        </div>
        <hr>
        <p class="custom-info">Observaciones:</p>
        <p class="custom-observation">El gramajo sin morron</p>
        <hr>
        <div class="d-flex justify-content-center mt-3">
          <button mat-raised-button class="mi-boton">Orden Preparada</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
