.container {
  display: flex;
  flex-direction: column;
  padding: 2rem; /* Ya está en unidades relativas */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .back-button,
  .actions {
    display: flex;
    align-items: center;

    .filter,
    .search {
      margin-right: 1em; /* Se usa 'em' para ser relativo al texto */
    }
  }
}

mat-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em; /* Se usa 'em' para mantener la relación con el texto */
}

.actions {
  display: flex;
  align-items: stretch;

  .filter,
  .search {
    margin-right: 1rem; /* Convertido a 'rem' para espaciado consistente */
  }

  .add-button {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3.45rem; /* Convertido a 'rem' para altura consistente */
    background-color: #4CAF50 !important;
    line-height: 1; /* Mantiene línea única si es basado en tamaño de fuente actual */
    font-size: 0.9rem; /* Convertido a 'rem' para consistencia */
  }
}
