.gray-card {
    background-color: #D8D8D8;
    padding-left: 50px;
    padding-right: 50px;
    
    min-height: 100vh;
    min-width: 300px;
  
    @media (max-width: 768px) {
      min-height: calc(100vh - 120px);
    }
  
    @media (min-width: 768px) {
      min-width: 600px;
    }
  
    @media (min-width: 992px) {
      min-width: 800px;
    }
  }
  
 
  