<div style="display: flex; justify-content: center;"><h1>Estadísticas</h1></div>

<div class="cards-container">
    <mat-card  class="clickable-card" style="grid-column-start: 2; grid-column-end: 3; background-color: #1B4338; color: #FFFFFF;">
      <mat-card-title>Estadisticas generales</mat-card-title>
    </mat-card>
  
    <mat-card  class="clickable-card" style="background-color: #E8FFF9; color: #000000;">
      <mat-card-title>Estadisticas de ventas</mat-card-title>
    </mat-card>
  
    <mat-card  class="clickable-card" style="grid-column-start: 2; grid-column-end: 3; background-color: #1B4338; color: #FFFFFF;">
      <mat-card-title>Estadísticas de clientes</mat-card-title>
    </mat-card>
  
    <mat-card class="clickable-card" style="background-color: #E8FFF9; color: #000000;" (click)="navigateTo('estadisticasbarra')">
      <mat-card-title>Estadísticas barra</mat-card-title>
    </mat-card>
  </div>
  