.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  // Divide el contenedor en 4 columnas
    gap: 1rem;
    padding: 1rem;
  }
  
  .clickable-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11rem;
    width: 20rem;
    cursor: pointer;
  
    &:hover {
      background-color: rgba(0,0,0,0.05);
    }
  }

  mat-card-title {
    font-size: 1rem;  // Cambia este valor al tamaño de fuente deseado
  }
  