.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* Ahora con 4 columnas, la declaración se mantiene igual */
  gap: 1.25rem; /* 20px convertido a rem */
  padding: 1.25rem; /* 20px convertido a rem */
}

.clickable-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem; /* 200px convertido a rem */
  width: 18.75rem; /* 300px convertido a rem */
  cursor: pointer;

  &:hover {
    background-color: rgba(0,0,0,0.05); /* No necesita conversión */
  }
}

mat-card-title {
  font-size: 1.5rem; /* 24px convertido a rem */
}
