
.green-card {
  background-color: #7D9A93;
  padding: 50px;
  
  border-radius: 20px;
}
/* Contenedor flex para las tarjetas de órdenes */
.orders-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: #A9A9A9;
}

/* Estilo para la tarjeta de orden */
.order-card {
  display: flex;         /* Nueva línea */
  flex-direction: column; /* Nueva línea */
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 240px;
  height: 650px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #F4F4F4;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
  .order-card {
    width: 180px;
    height: 550px;
  }
}
/* Estilo para el encabezado */
.order-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #FFD686;
  padding: 10px;
  font-weight: bold;
}

/* Estilo para la información de la orden */
.order-info {
  padding: 10px;
  flex-grow: 1; /* Nueva línea */
}

/* Estilo para los elementos de la orden */
.order-items {
  padding: 5px;
  flex-grow: 1; /* Nueva línea */
}

/* Estilo para el total de la orden */
.order-total {
  background-color: #EEE;
  padding: 10px;
  font-weight: bold;
  text-align: right;
}

/* Estilo para las acciones */
.order-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* Estilo para los botones */
.order-actions button {
  margin: 0 5px;
}
.big-icon {
  font-size: 20px !important;
  vertical-align: middle !important;
}

.mat-fab {
  z-index: 1000; /* Un valor alto para asegurar que se superponga a otros elementos */
}

.total-pago-container {
  display: flex; /* Activa flexbox para el contenedor */
  justify-content: space-between; /* Separa los elementos uniformemente */
  align-items: center; /* Centra los elementos verticalmente */
}

/* Estilos para las celdas de la tabla */
.table th,
.table td {
    text-align: center; /* Centra el contenido horizontalmente */
    vertical-align: middle; /* Centra el contenido verticalmente */
    /* Resto de tus estilos */
}

/* Si necesitas ajustar el encabezado de la tabla específicamente */
.table thead th {
    text-align: center; /* Centra horizontalmente los encabezados de la tabla */
    vertical-align: middle; /* Centra verticalmente los encabezados de la tabla */
    /* Resto de tus estilos para el encabezado */
}



