.container {
  display: flex;
  flex-direction: column;
  padding: 2rem; /* Unidades relativas basadas en tamaño de fuente del root */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .back-button,
  .actions {
    display: flex;
    align-items: center;

    .filter,
    .search {
      margin-right: 1em; /* Unidades relativas basadas en tamaño de fuente del elemento */
    }
  }
}

mat-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em; /* Unidades relativas basadas en tamaño de fuente del elemento */
}

.actions {
  display: flex;
  align-items: stretch;

  .filter,
  .search {
    margin-right: 1rem; /* Unidades relativas basadas en tamaño de fuente del root */
  }

  .add-button {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3.45rem; /* Unidades relativas basadas en tamaño de fuente del root */
    background-color: #4CAF50 !important;
    line-height: 1; /* Normalmente se deja en 1 si no se necesita ajuste específico */
    font-size: 0.9rem; /* Unidades relativas basadas en tamaño de fuente del root */
  }
}
